*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    min-height: 100vh;
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body *{
    font-family: 'poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
.container{
    height: auto;
    width: auto;
    background-color: #ffffffa6;
    border-radius: 10px;
    text-align: center;
}
.content{
    margin: 20px 50px;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 180px;
    height: 75px;
}
.mark{
    margin: 10px auto;
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: #0AB43A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
h2{
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}
p{
    width: 500px;
    margin: 20px auto;
}
p > span{
    color: #0AB43A;
    font-weight: bold;
}
.cfm{
    margin: 35px auto 50px;
}
.cfm > a{
    padding: 15px 45px;
    text-decoration: none;
    background-color: #0AB43A;
    color: #fff;
    border-radius: 10px;
}
.cfm > a:hover{
    font-variant: small-caps;
    font-weight: bold;
    transition: ease-in-out .0.5s;
}
/*Moving to Mobile screen*/
@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
    .container{
        margin: 30px 15%;
        height: auto;
        width: 350px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .content{
        width: 95%;
        margin: 20px 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    h2{
        font-size: 18px;
    }
    p{
        width: 320px;
    }
}