*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    height: 100vh;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body *{
    font-family: 'poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
.container{
    height: auto;
    width: auto;
    background-color: #ffffffa6;
    border-radius: 10px;
}
.content{
    margin: 20px 50px;
}
.content > a > img{
    width: 180px;
    height: 75px;
}
.content > p{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}
.notify{
    padding-left: 10px;
    height: 60px;
    width: auto;
    background-color: #ecfdf5;
    border: 2px solid #5de0ac;
    display: flex;
    align-items: center;
}
.notify > p{
    font-size: 16px;
    font-style: italic;
}
form{
    margin-top: 35px;
    width: auto;
}
form input[type="text"]{
    width: 100%;
    height: 50px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #d4d2d280;
}
input:focus{
    border: none;
    padding-left: 25px;
}
form > input::placeholder{
    padding-left: 30px;
}
form > input[type="submit"] {
    margin: 32px 75px;
    padding: 0;
    width: 350px;
    height: 50px;
    background-color: #0ab43a;
    color: white;
    border-radius: 10px;
    border: none;
}
form > input[type="submit"]:hover{
    font-variant: small-caps;
    font-weight: bolder;
    transition: ease .5s;
}
.register{
    margin: 10px 10px 40px;
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.register a{
    text-decoration: none;
    color: #a78100;
}
/*Moving to Mobile screen*/
@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
    .notify{
        height: 40px;
        width: auto;
    }
    .notify > p{
        font-size: 13px;
        font-style: italic;
    }
}